*.beam
*.d
*.plt
.*.sw?
.erlang.mk/
.sw?
_build/
_rel/
callgrind*
cover/
ct.coverdata
deps/
ebin/
elvis
erl_crash.dump
logs/
mnevis.d
plugins/
rabbitmq_rtopic_exchange.d
test/*.beam
test/ct.cover.spec
x.erlang.mk/
xrefr
