{erl_opts, [debug_info,
           warn_export_vars,
           warn_shadow_vars,
           warn_obsolete_guard
           ]}.

{deps, [
       {map_sets, {git, "https://github.com/k32/map_sets", {branch, "master"}}},
       {ra, {git, "https://github.com/rabbitmq/ra", {branch, "master"}}}
       ]}.